@font-face {
    font-family:rustFont;
    src:url(../font/Rust.ttf);
}
/*
html {
    overflow-x: hidden;
}
*/
html, body {
    scroll-behavior: smooth;
    width:100%;
    height:auto;
    font-family:rustFont!important;
    margin:0;
    padding:0;
    -webkit-animation:fadein 2s; 
    -moz-animation:fadein 2s; 
    -ms-animation:fadein 2s; 
    -o-animation:fadein 2s; 
    animation:fadein 2s;
}

@media all and (min-width: 850px){
.header {
    display:none;
  }
}

.background-image {
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow: hidden;
}

#rawvideo {

    position: fixed;
    right:0;
    bottom:0;
    min-width:100%; 
    min-height:100%;
    z-index:-100;
}

@media (min-aspect-ratio: 16/9) {
    #rawvideo {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #rawvideo { 
        width:auto;
        height: 100%;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.spacer .logo img {
    width:50%;
    max-width:700px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -10;
}

.spacer {
    height:100vh;
    position: relative;
    z-index: -15!important;
}

.navBarWrapper {
    top: 0;
    transition: top 0.3s;
    position:fixed;
    background:#ce422b;
    height:100px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation:fadein 2s; 
    -moz-animation:fadein 2s; 
    -ms-animation:fadein 2s; 
    -o-animation:fadein 2s; 
    animation:fadein 2s;
}

.nav {
    list-style:none;
    text-align:center;
}
.nav li {
    display:inline;
}

.nav a {
    font-size:25px;
    text-decoration:none;
    color:black;
    display:inline-block;
    padding:15px;
    padding-left:50px;
    padding-right:50px;
    text-shadow: 1px 1px 2px #000000;
}

a:visited {
    color:none;
  }
  
.nav a:hover {
    color:white;
  }
  
a:active {
    color:none;
  }

.information {
    width:100%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}

.info {
    margin-top:50px;
    margin-bottom:50px;
    display: inline-block;
}

.info p {
    font-family: "Arial Black", Gadget, sans-serif!important;
    font-size:13px;
    width:350px;
    height:100%;
    margin-left:10px;
    margin-right:10px;
}

.information i {
    font-size:48px;
    color:black;
}

.footer {
    height:50px;
    width:100%;
    background-color:#1e2020;
}

.copy {
    font-size:10px;
    font-family: Verdana, Geneva, sans-serif!important;
    position:absolute;
    color:white;
    padding:10px;
    right:0;
}

.credit {
    font-size:10px;
    font-family: Verdana, Geneva, sans-serif!important;
    position:absolute;
    color:white;
    padding:10px;
    left:0;
}

.footertext {
    height:20px;
    width:100%;
    padding-top:10px;
}

.aboutUs {
    font-size:35px;
    text-align:center;
    padding-top:75px;
    text-decoration: underline;
}

.donationContainer {
    background-image: url(../images/DBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width:100%;
    height:300px;
    text-align:center;
    padding-bottom:100px;
}

.supportUs {
    color:white;
    font-size:35px;
    padding-top:75px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #000000;
}

.support p {
    color:white;
    display: inline-block;
    height:100%;
    width:600px;
    font-family: "Arial Black", Gadget, sans-serif!important;
    font-size:13px;
    text-align:left;
    text-shadow: 1px 1px 2px #000000;
}

.supportButton a{
    margin-top:25px;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    color:white;
    background:#1e2020;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.supportButton a:hover {
    transition: 0.3s ease-in-out;
    color:#1e2020;
    background:white;
}








/* Responsive code below. */

@media all and (max-width: 850px) {

    .header {
        background-color: #ce422b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
      
    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }
      
    .header li a {
        color:black;
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000000;
    }
      
    .header li a:hover {
        color:white;
        background: #ce422b;
    }
      
    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    
    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
      
    .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }
      
    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
      
    .header .menu-icon .navicon:before {
        top: 5px;
    }
      
    .header .menu-icon .navicon:after {
        top: -5px;
    }
    
    .header .menu-btn {
        display: none;
    }
      
    .header .menu-btn:checked ~ .menu {
        max-height: 240px;
    }
      
    .header .menu-btn:checked ~ .menu-icon .navicon {
        background: white;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
        background: white;
    }
    
    .header .menu-btn:checked ~ .menu-icon .navicon:after {
        background: white;
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    .navBarWrapper {
        display:none;
    }

    .info {
        margin-left: 10px;
        margin-right: 10px;
    }

    .info p {
        font-family: "Arial Black", Gadget, sans-serif!important;
        font-size:13px;
        width:100%;
        max-width: 400px;
        margin:0;
        margin-top:10px;
    }

    .logo img {
        width:75%!important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .support p {
        width:75%;
    }

    .credit {
        font-size: 9.5px;
    }

    .copy {
        font-size: 9.5px;
    }

    .copy {
        font-size:50%;
    }
    
    .credit {
        font-size:50%;
    }
}

@media screen and (orientation:landscape)  
    and (max-device-width: 900px){


    .nav a {
        padding:10px;
    }

    .logo img {
        width:50%!important;
    }
    
    .spacer {
        background-attachment:fixed!important; 
        background-position: center!important;
        background-size:100% auto!important;
   }
}

